body {
    font-family: Roboto Mono, monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
    background-color: var(--color-bg);
    position: fixed;
    width: 100%;
    height: 100%;
}

nav {
    margin-bottom: 16px;
}

nav a {
    margin-right: 10px;
}

nav a img {
    height: 20px;
}

nav a img:hover {
    filter: brightness(1000%);
}

.ui-icon {
    color: var(--color-fg);
    margin-left: 10px;
}

.ui-icon:hover {
    color: #ffffff;
}

.ui-icon img {
    color: var(--dark-color-fg);
    width: 19px;
    margin-right: 10px;
    vertical-align: top;
}

ul .ui-icon {
    display: block;
    padding-right: 10px;
    margin-bottom: 15px;
}

.ui-card {
    color: var(--dark-color-fg);
    display: flex;
    justify-content: left;
    margin: 10px;
}

.ui-card:hover {
    color: #ffffff;
}

.ui-card img {
    width: 57px;
    margin-right: 10px;
    border-radius: 2px;
    vertical-align: top;
    float: left;
}

.key {
    background-color: var(--dark-color-bg2);
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    padding: 0px 6px;
}

ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

main ul {
    flex-direction: column;
}

.row-list {
    flex-direction: row;
}

#technology-list {
    width: 340px;
}

#pfp {
    height: 24px;
    margin: 6px 12px 6px 0px;
    float: left;
}

a {
    text-decoration: none;
}
