body {
    background-color: var(--dark-color-bg);
    color: var(--dark-color-fg);
    font-family: Roboto Mono, monospace;
}

canvas {
    background-color: var(--dark-color-bg);
    position: fixed;
    width: 100%;
    height: 100%;
}

main li {
    display: block;
    padding-right: 10px;
}

p img {
    margin-left: 10px;
}

.colo-fg2 {
    color: var(--dark-color-fg2);
}

.key {
    background-color: var(--dark-color-bg2);
    border-radius: 2px;
    display: inline-block;
    font-weight: bold;
    padding: 0px 6px;
    text-align: center;
}

.home .row-list {
    display: flex;
    flex-direction: row;
}

a.ui-card, a.ui-icon {
    color: var(--dark-color-fg);
    text-decoration: none;
}

a.ui-icon:hover {
    color: var(--dark-color-hl);
}

.ui-icon img {
    width: 19px;
    margin-right: 10px;
    vertical-align: top;
}

#technology-list {
    width: 300px;
}

webring-banner {
    margin: auto;
    width: min(446px, 100%);
}

footer {
    padding-bottom: 160px;
}
