h1 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #444;
    margin-bottom: 7px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

nav {
    margin-bottom: 16px;
    color: var(--color-fg2);
    font-size: 85%;
}

nav a {
    color: var(--color-fg2);
}

footer a {
    color: var(--color-fg2);
}

footer {
    padding-top: 100px;
}

#author, .next {
    float: right;
}

figure img {
    border-radius: 5px;
    width: 100%;
    background-color: #000000;
}

figure {
    display: block;
    margin: auto;
    width: 75%;
}

li {
    padding-top: 4px;
}

blockquote p {
    margin-top: 36px;
    margin-bottom: 36px;
    color: var(--color-fg2);
    font-style: italic;
}
