body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

h1 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #444;
    margin-bottom: 7px;
}

p.post-meta {
    margin-top: 0px;
}

span.p-author {
    margin-top: 0px;
    color: var(--color-fg2);
    font-size: 85%;
    float: right;
}

time {
    color: var(--color-fg2);
    font-size: 85%;
}

a {
    color: #2196F3;
    color: var(--color-primary);
    /* text-decoration: none; */
}

/*
article {
    margin: 20px;
    padding: 0px;
    width: 100%;
}

@media (min-width: 730px){
    article {
        margin: auto;
        width: 730px;
    }
}
*/

#overlay {
    background-color: black;    /* avoid blink */
    margin: auto;
    width: 730px;
}

figure img {
    border-radius: 5px;
    width: 100%;
}

figure {
    display: block;
    margin: auto;
    width: 75%;
}

figcaption {
    text-align: center;
    color: var(--color-fg2);
}

p {
    margin-top: 0px;
    margin-bottom: 16px;
}

li {
    padding-top: 4px;
}

blockquote p {
    /* background-color: #1e1e1e; */
    /* color: #00BCD4; */
    margin-top: 36px;
    margin-bottom: 36px;
    color: var(--color-fg2);
    font-style: italic;
}
