body {
    background-color: var(--dark-color-bg);
    color: var(--color-fg);
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body {
    background-color: var(--color-bg);
}

/* headings */
h1, h2, h3, h4 {
    color: var(--color-primary);
}

h1 {
    font-family: Roboto Mono, monospace;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 42px;
    margin-bottom: 16px;
}

h3 {
    margin-top: 24px;
    margin-bottom: 16px;
}

h2>a, h3>a, h4>a {
    color: var(--color-primary);
    /* text-decoration: none; */
    text-decoration: underline;
}

/* # */
h2>a:last-child, h3>a:last-child, h4>a:last-child {
    text-decoration: none;
}

a {
    color: var(--color-primary);
}

h2>a:hover, h3>a:hover, h4>a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0px;
    margin-bottom: 16px;
}

/* skip to main content */
#skip {
    position: absolute;
    left: -1000%;
    top: -1000%;
}

#skip:focus {
    left: 10px;
    top: 10px;
    z-index: 100;
}

#skip>h2 {
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* change theme */
#color-row {
    height: 21px;
}

#color-row div {
    float: right;
}

#color-row label {
    height: 21px;
    margin-left: auto;
    margin-right: 0;
}

#color-row img {
    height: 21px;
    margin-left: 4px;
    margin-right: 4px;
}

#pfp {
    height: 24px;
    margin: 6px 12px 6px 0px;
    float: left;
}

h1 a {
    text-decoration: none;
}

td {
    padding: 0px;
}

.home ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    flex-direction: column;
}

.home li {
    margin-bottom: 16px;
}

.content {
    position: relative;
    margin: auto;
    max-width: 730px;
    padding: 40px 15px 80px;
}

nav.contacts {
    margin-bottom: 16px;
}

nav.contacts li {
    display: inline-block;
    margin-right: 10px;
}

nav.contacts a img {
    height: 20px;
}

nav.contacts a:hover img {
    filter: brightness(1000%);
}

nav.contacts ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

.photo {
    margin: 0px;
    margin-bottom: 100px;
}

.photo img {
    max-width: 100%;
    max-height: 70vh;
    margin: auto;
    display: block;
}

figcaption {
    text-align: center;
    color: var(--color-fg2);
}

.photo figcaption {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}


.dark a.ui-card:hover {
    color: var(--dark-color-hl);
}

a.ui-card:hover {
    color: var(--color-hl);
}

.dark a.ui-card {
    color: var(--dark-color-fg);
    text-decoration: none;
}

a.ui-card {
    color: var(--color-fg);
    text-decoration: none;
}

.ui-card {
    color: var(--color-fg);
}

.ui-card {
    color: var(--color-fg);
    display: flex;
    justify-content: left;
}

.ui-card img {
    width: 57px;
    height: 57px;
    min-width: 57px;
    margin-right: 16px;
    border-radius: 2px;
}

.card-list .ui-card img {
    width: 69px;
    height: 69px;
}

.card-list {
    padding: 0px;
    list-style-type: none;
}

.card-list li {
    line-height: 1.4em;
    padding: 0px;
    margin-bottom: 16px;
}

.dateauthor > table {
    width: 100%;
}

#author, .next {
    float: right;
}

footer.home {
    background-color: var(--dark-color-bg);
    color: var(--dark-color-fg);
    font-family: Roboto Mono, monospace;
    padding-bottom: 160px;
}

main.home {
    /* background-color: var(--dark-color-bg); */
    color: var(--dark-color-fg);
    font-family: Roboto Mono, monospace;
}

main.home li {
    display: block;
    padding-right: 10px;
}

canvas.background {
    background-color: var(--dark-color-bg);
    position: fixed;
    width: 100%;
    height: 100%;
}

/* ??? */

p img {
    margin-left: 10px;
}

.key {
    background-color: var(--dark-color-bg2);
    border-radius: 2px;
    display: inline-block;
    font-weight: bold;
    padding: 0px 6px;
    text-align: center;
}

a.ui-icon {
    color: var(--color-fg);
    text-decoration: none;
}

a.ui-icon:hover {
    color: var(--color-hl);
}


.dark a.ui-icon {
    color: var(--dark-color-fg);
    text-decoration: none;
}

.dark a.ui-icon:hover {
    color: var(--dark-color-hl);
}

.ui-icon img {
    width: 19px;
    margin-right: 10px;
    vertical-align: top;
}

/* post */

h1.underline {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #444;
    margin-bottom: 7px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

nav.dateauthor {
    margin-bottom: 16px;
    color: var(--color-fg2);
    font-size: 85%;
}

nav.dateauthor a {
    color: var(--color-fg2);
}

footer.prevnext a {
    color: var(--color-fg2);
}

footer.prevnext {
    padding-top: 100px;
}

.post > figure img {
    border-radius: 5px;
    width: 100%;
    background-color: #000000;
}

.post > figure {
    display: block;
    margin: auto;
    width: 75%;
}

.post > li {
    padding-top: 4px;
}

blockquote p {
    margin-top: 36px;
    margin-bottom: 36px;
    color: var(--color-fg2);
    font-style: italic;
}

webring-banner {
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
    width: min(446px, 100%);
}
