@import "/assets/css/vars.css";

canvas {
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#container {
    position: relative;
}

#overlay {
    margin: auto;
    width: 730px;
}

.text {
    color: #d4d4d4;
    font-family: Roboto Mono, monospace;
}

#technology-list {
    width: 340px;
}

.vert-list {
    flex-direction: column;
}

.page {
    min-height: 100vh;
}

h1 {
    color: var(--color-primary);
}

h2 {
    font-size: 1.5em;
    color: var(--color-primary);

    margin-top: 42px;
    margin-bottom: 16px;

    /*
    padding-bottom: 0.3em;
    border-bottom: 1px solid #444;
    */
}

#pfp {
    height: 24px;
    margin-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    float: left;
}

ul .ui-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.ui-contact img {
    height: 20px;
    display: block;
    margin-right: 10px;
}

.ui-contact a:hover img {
    filter: brightness(1000%);
}

.ui-icon img {
    width: 20px;
    display: block;
    margin-right: 10px;
    float: left;
    border-radius: 2px;
}

.ui-icon a {
    text-decoration: none;
    color: #d4d4d4;

    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 0px;
    margin-bottom: 15px;

    height: 20px;
}

.ui-icon a:hover {
    color: #ffffff;
}

.ui-card img {
    width: 60px;
    display: block;
    margin-right: 10px;
    border-radius: 2px;
    display: inline-block;
    vertical-align:top;
    float: left;
}

.ui-card a {
    text-decoration: none;
    color: #d4d4d4;

    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 10px;
}


.ui-card a:hover {
    color: #ffffff;
}

.ui-card #container {
    float: right;
}

.key {
    font-weight: bold;
    background-color: #303030;
    display: inline-block;
    border-radius: 2px;
    min-width: 19px;
    text-align: center;
    margin: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    align-items: left;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
}
