body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

/* headings */
h1, h2, h3, h4 {
    color: var(--color-primary);
}

h1 {
    font-family: Roboto Mono, monospace;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 42px;
    margin-bottom: 16px;
}

h3 {
    margin-top: 24px;
    margin-bottom: 16px;
}

h2>a, h3>a, h4>a {
    color: var(--color-primary);
    text-decoration: none;
}

a {
    color: var(--color-primary);
}

#show {
    text-decoration: underline;
    opacity: 1;
}

p {
    margin-top: 0px;
    margin-bottom: 16px;
}

/* skip to main content */
#skip {
    position: absolute;
    left: -1000%;
    top: -1000%;
}

#skip:focus {
    left: 10px;
    top: 10px;
    z-index: 100;
}

#skip>h2 {
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* change theme */
#color-row {
    height: 21px;
}

#color-row div {
    float: right;
}

#color-row label {
    height: 21px;
    margin-left: auto;
    margin-right: 0;
}

#color-row img {
    height: 21px;
    margin-left: 4px;
    margin-right: 4px;
}

#pfp {
    height: 24px;
    margin: 6px 12px 6px 0px;
    float: left;
}

h1 a {
    text-decoration: none;
}

td {
    padding: 0px;
}

.home ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    flex-direction: column;
}

.home li {
    margin-bottom: 16px;
}

.content {
    position: relative;
    margin: auto;
    max-width: 730px;
    padding: 40px 15px 80px;
}

nav.contacts {
    margin-bottom: 16px;
}

nav.contacts li {
    display: inline-block;
    margin-right: 10px;
}

nav.contacts a img {
    height: 20px;
}

nav.contacts a:hover img {
    filter: brightness(1000%);
}

nav.contacts ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

.photo {
    margin: 0px;
    margin-bottom: 100px;
}

.photo img {
    max-width: 100%;
    max-height: 70vh;
    margin: auto;
    display: block;
}

figcaption {
    text-align: center;
    color: var(--color-fg2)
}

.photo figcaption {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

a.ui-card:hover {
    color: var(--dark-color-hl);
}

.ui-card {
    color: var(--dark-color-fg);
    display: flex;
    justify-content: left;
}

.ui-card img {
    width: 57px;
    margin-right: 16px;
    border-radius: 2px;
}

#music .ui-card img {
    width: 69px;
}
